/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/* Mettere come classe .img-fluid se necessario */
img {
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}



/* DEBUG */
.debug ,
.debug * {
    padding: 5px;
    background-color: #ff000022;
    border: 2px dashed red;
}



/* ⚙️ VARIABILI ⚙️ */
:root {
    --col-spacing: 1rem;
}



/* UTILS */
section {
    padding: calc(2 * var(--col-spacing)) 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;

    padding: 0 1rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--col-spacing) * -1);
    row-gap: calc(2 * var(--col-spacing));
}
.row [class*="col"] {
    padding: 0 var(--col-spacing);
}
.row-no-gap {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    row-gap: 0;
}
.row-no-gap [class*="col"] {
    padding: 0;
}
.col-100 {
    width: 100%;
}
.col-1-2 {
    width: calc(100% / 2);
}
.col-1-3 {
    width: calc(100% / 3);
}
.col-2-3 {
    width: calc(100% / 3 * 2);
}
.col-1-4 {
    width: calc(100% / 4);
}
.col-3-4 {
    width: calc(100% / 4 * 3);
}
.col-1-5 {
    width: calc(100% / 5);
}
.col-4-5 {
    width: calc(100% / 5 * 4);
}
.col-1-6 {
    width: calc(100% / 6);
}
.col-5-6 {
    width: calc(100% / 6 * 5);
}
.btn {
    font-family: inherit;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 0;
}









/* # CUSTOM CSS */

/* #page-header */
#page-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.33);
}

#page-header > .container > .row > .col-100 {
    display: flex;
    justify-content: space-between;
}

#page-header #header-logo {
    padding: 1.25rem 0;
}
#page-header #header-logo img {
    max-height: 75px;
}

#page-header #main-menu ul {
    display: flex;
    justify-content: center;
    /* ! TEST */
    /* * Invece di farlo tramite gap lo faccio tramite padding degli anchor element */
    /* gap: 1.25rem; */

    font-weight: bold;
    font-size: .75rem;
    color: #333;
}


#page-header #main-menu ul li {
    display: grid;
    place-items: center;

    /* Per effetto sotto in active e hover */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
#page-header #main-menu ul li.active,
#page-header #main-menu ul li:hover {
    color: #0282F9;
    
    border-bottom-color: #0282F9;
}

#page-header #main-menu ul li a {
    display: grid;
    place-items: center;

    padding: 0 .625rem;
}



/* #page-main */

#page-main > #main-content {
    background-color: #1C1C1C;
    color: #fff;
}

#page-main > #merchandise {
    background-color: #0282F9;
    color: #fff;
}
#page-main > #merchandise .merchandise-box {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
}

#page-main > #merchandise .merchandise-box img {
    max-height: 3rem;
    max-width: 3rem;
}
#page-main > #merchandise .merchandise-box span {
    font-size: .85rem;
}





#page-footer #footer-social > .container > .row > .col,
#page-footer #footer-social > .container > .row > .col > .social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page-footer #footer-social > .container > .row > .col:first-child {
    flex-grow: 1;
}
#page-footer #footer-social > .container > .row > .col > .social-container {
    gap: 1rem;
}

#footer-content {
    background-image: url(/img/footer-bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    /* * Per effetto grafico del logo */
    padding: 0;
}
#footer-content h5 {
    color: #fff;
}
#footer-content nav {
    color: #aaa;
}
#footer-content nav a.active,
#footer-content nav a:hover {
    color: #ccc;
}
#footer-content nav a.active {
    font-weight: bold;
}
.logo-big-container {
    position: relative;

    overflow: hidden;
}
.logo-big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* * Per effetto grafico del logo */
#footer-content > .container > .row > :first-child {
    padding: calc(2 * var(--col-spacing)) 0;
}


#footer-social {
    background-color: #303030;
}
#footer-social button.signUp {
    padding: .75rem;
    border: 2px solid #0282F9;
    background-color: transparent;

    /* font-size COME PER h5 */
    font-size: 1.1rem;
    color: #fff;
}
#footer-social button.followUs {
    padding: .75rem;
    background-color: transparent;
    border: 0;

    /* font-size COME PER h5 */
    font-size: 1.1rem;
    color: #0282F9;
}







/* # GENERAL */
button {
    cursor: pointer;
}

/* # UTILS */
.h-100 {
    height: 100% !important;
}


/* # TIPOGRAPHY */

h5 {
    /* font-size: 1.15rem; MASSIMO */
    font-size: 1.1rem;
}


#page-footer #footer-content h5 {
    font-weight: bold;

    margin-bottom: .85rem;
}

#page-footer #footer-content ul {
    font-weight: light;
    font-size: .75rem;

    margin-bottom: .85rem;
}
#page-footer #footer-content ul li {
    margin-bottom: .25rem;
}







/* # UI */
.alert {
    border: 1px solid;
    border-radius: 1rem;
    padding: 1rem;
}

.alert-info {
    background-color: rgb(200, 200, 255);
    color: rgb(0, 0, 146);
}
.alert-warning {
    background-color: rgb(255, 255, 182);
    color: rgb(128, 128, 0);
}
.alert-danger {
    background-color: rgb(255, 193, 193);
    color: rgb(128, 0, 0);
}
.alert-success {
    background-color: rgb(150, 255, 150);
    color: rgb(0, 83, 0);
}